*{
  margin: 0;
  padding: 0;
}
a{
  font-family: sans-serif;
  text-decoration: none;

}
.header{
  background-color: #ffffff;
  padding-inline: 16px;
}
.nav{
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 48px;
  color: rgb(0, 0, 0);
}
.logo img{
  margin-top: 20px;
  height: 80px;
  width: auto;
}
.nav-list{
  display: flex;
  gap: 32px;
  list-style: none;
}
.nav-list a{
  font-size: 18px;
  color: rgb(0, 0, 0);
  padding-block: 16px;
}
.hero{
  height: calc(100vh - 70px);
  background: center / cover no-repeat url('../img/back.jpg');
}
.hamburguer{
  display: none;
  border: none;
  background: none;
  border-top: 3px solid rgb(0, 0, 0);
}
.hamburguer::before,
.hamburguer::after{
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: rgb(0, 0, 0);
  margin-top: 5px;
  position: relative;
  transition: 0,2s;
}

@media (max-width: 768px){
  .hamburguer{
    display: block;
    z-index: 1;
  }
  .nav-list{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    clip-path: circle(100px at 90% -15%);
    transition: 0.2s clip-path ease-in-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }
  .nav-list a{
    font-size: 24px;
    opacity: 0;
  }
  .nav-list li:nth-child(1) a{
    transition: opacity 0.5s ease 0.1s;
  }
  .nav-list li:nth-child(2) a{
    transition: opacity 0.5s ease 0.2s;
  }
  .nav-list li:nth-child(3) a{
    transition: opacity 0.5s ease 0.3s;
  }
  .nav-list li:nth-child(4) a{
    transition: opacity 0.5s ease 0.4s;
  }
  .nav-list li:nth-child(5) a{
    transition: opacity 0.5s ease 0.5s;
  }
  .nav-list li:nth-child(6) a{
    transition: opacity 0.5s ease 0.6s;
  }
  .nav.active .nav-list{
    clip-path: circle(150% at 90% -10%);
    pointer-events: all;
  }
  .nav.active .nav-list a{
    opacity: 1;
  }
  .nav.active .hamburguer{
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }
  .nav.active .hamburguer::before{
    transform: rotate(135deg);
  }
  .nav.active .hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
  }


}