*{
  margin: 0;
  padding: 0;
}
a{
  font-family: sans-serif;
  text-decoration: none;

}
.header{
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: .5s ease-in-out;
  padding-inline: 16px;
}
.nav{
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 48px;
  color: rgb(0, 0, 0);
}
.logo img{
  margin-top: 20px;
  height: 80px;
  width: auto;
}
.nav-list{
  display: flex;
  gap: 32px;
  list-style: none;
}
.nav-list a{
  color: #FFFFFF;
  font-size: 18px;
  padding-block: 16px;
  transition: .2s ease-in;
}

.nav-list a:hover{
  color: gray;
}

.banner{
  width: 100%;;
}
.hamburguer{
  display: none;
  border: none;
  background: none;
  border-top: 3px solid rgb(0, 0, 0);
}
.hamburguer::before,
.hamburguer::after{
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: rgb(0, 0, 0);
  margin-top: 5px;
  position: relative;
  transition: 0,2s;
}

.mvv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
  height: 90vh;
  width: 100%;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 90%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.text p{
  text-align: center;
  padding: 2vw;
}

.title{
  background-color: #ecdd08;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 90%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.missao, .visao, .valores{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 80%;
  gap: 2vw;
}

.scrolled {
  background: #ecdd08;
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.scrolled a{
  color: #000;
}


.parceiros{
  margin-top: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  background-color: #ecdd08;
}

.parceiros .right{
  height: 100%;
  width: 60%;
  background-color: #fff;
  border-radius: 60px 0 0 60px ;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}

.parceiros .left{
  height: 100%;
  width: 40%;
}


 /* .footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
  height: 40vh;
  width: 100%;
 }
 
 .footer .flex-row {
  font-family: sans-serif;
  font-weight: bold;
 } */
 
@media (max-width: 768px){
  .hamburguer{
    display: block;
    z-index: 1;
  }
  .nav-list{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    clip-path: circle(100px at 90% -15%);
    transition: 0.2s clip-path ease-in-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }
  .nav-list a{
    font-size: 24px;
    opacity: 0;
  }
  .nav-list li:nth-child(1) a{
    transition: opacity 0.5s ease 0.1s;
  }
  .nav-list li:nth-child(2) a{
    transition: opacity 0.5s ease 0.2s;
  }
  .nav-list li:nth-child(3) a{
    transition: opacity 0.5s ease 0.3s;
  }
  .nav-list li:nth-child(4) a{
    transition: opacity 0.5s ease 0.4s;
  }
  .nav-list li:nth-child(5) a{
    transition: opacity 0.5s ease 0.5s;
  }
  .nav-list li:nth-child(6) a{
    transition: opacity 0.5s ease 0.6s;
  }
  .nav.active .nav-list{
    clip-path: circle(150% at 90% -10%);
    pointer-events: all;
  }
  .nav.active .nav-list a{
    opacity: 1;
  }
  .nav.active .hamburguer{
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }
  .nav.active .hamburguer::before{
    transform: rotate(135deg);
  }
  .nav.active .hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
  }


}